    * {
      margin: 0;
      padding: 0;
      font-family: "Dela Gothic One", cursive;
      font-family: "Headland One", serif;
      font-size: 35px;
    }

    /* body{
      overflow-y: hidden; 
  overflow-x: hidden;
    } */

    .nav {
      align-items: center;
      align-content: center;
    }

    #logo{
      display: inline;
    }

    .nav button {
      background-color: #1c1515;
      color: white;
      border: 1px solid white;
      height: 45px;
      width: 120px;
      border-radius: 14px;
      margin-left: 505px;
      margin-top: 23px;
      font-size: 17px;
      transition: all 0.23s ease-out;
    }

    .nav button:hover {
      cursor: pointer;
      transform: scale(1.03, 1.03);
    }

    h1 {
      font-size: 40px;
      text-align: center;
      color: #15a715;
      margin: auto;

      /* New */
      font-size: 40px;
      text-align: center;
      color: #15a715;
      margin: auto;
      font-size: 40px;
      text-align: center;
      color: #15a715;
      margin: auto;
      margin-bottom: 15px;
      padding: 5px;
      background-color: rgb(225 242 235);
      box-shadow: 5px 5px 10px grey;
      border-bottom-left-radius: 55px;
      border-bottom-right-radius: 56px;
      /* New ENDS */
    }

    .dark-mode {
      background-color: black;
      color: #15a715;
      /* color: black; */
    }

    .dark-mode-box {
      background-color: red;
    }

    h2 {
      text-align: center;
      font-size: 31px;
      color: #15a715;
    }

    .container {
      height: 717px;
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      align-items: center;
    }

    .box {
      background-color: rgb(223 233 229);
      margin: 25px 9px 10px;
      padding: 23px;
      width: 410px;
      height: 149px;
      border-radius: 39px;
      box-shadow: 5px 5px 10px grey;
      text-align: center;
      transition: all 0.23s ease-out;
  
    }

    .box:hover {
      box-shadow: 5px 5px 10px black;
      transform: scale(1.034, 1.034);
    }

    .profiles {
      /* background-color: aqua;  */
      height: 116px;
      width: 380;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    .box .image {
      width: 53px;
      height: 53px;
      background-color: black;
      border-radius: 12px;
      margin: 5px;
      transition-duration: 0.1s;
      transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
    }

    .image:hover {
      /* box-shadow: 4px 4px 4px grey; */
      border: 2px solid white;
      width: 60px;
      height: 60px;
      border-radius: 12px;
      margin: 5px;
    }

/* ------------- RESUME - MAIL------------- */
    #resume, a{
      margin-top: 4px;
      font-weight: bold;
      font-size: 15px;
      color: black;
      text-decoration: none;
      padding: 2px;
      /* background-color: rgb(175, 208, 175); */

      
    }

    #resume a:hover{
        /* color: green; */
        border: 1px solid green;
        padding: 2px;
        border-radius: 5px;
        /* text-decoration:underline; */
    }
/*------------------------- FOOTER ------------------------ */
    .footer {
      color: white;
    font-size: 14px;
    background-color: #489f48;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding: 12px;
    }

    .footer p{
      color: white;
      font-size: 14px;
    }

    .footer p a{
      color: white;
      /* font-weight: bold; */
      font-size: 14px;
    }

    

    /* _____________________________________________________MOBILE CSS_________________________________________________________ */
    @media only screen and (max-width: 426px) {
        .box {
          background-color: rgb(223 233 229);
          margin: 10px 10px 10px;
          padding: 23px;
          width: 80%;
          height: 140px;
          border-radius: 12px;
          box-shadow: 5px 5px 10px grey;
          text-align: center;
          transition: all 0.23s ease-out;
    
        }

        h1{
          font-size: 40px;
          text-align: center;
          color: #15a715;
          margin: auto;
          font-size: 36px;
          text-align: center;
          color: #15a715;
          margin: auto;
          margin-bottom: 17px;
          padding: 5px;
          background-color: rgb(225 242 235);
          box-shadow: 4px 4px 15px grey;
          border-bottom-left-radius: 23px;
          border-bottom-right-radius: 23px;
        }

        .box .image{
          width: 43px;
          height: 43px;
          border-radius: 7px;
        }

        .image:hover {
          border: 2px solid white;
          width: 46px;
          height: 46px;
          border-radius: 12px;
          margin: 5px;
        }

        .profiles
        {
          height: 96px;
        }
        
        #resume a{
          border: 1px solid green;
          padding: 2px;
          border-radius: 5px;
          /* text-decoration: underline;
      }

      
  }